<div style="margin-left:5px">
    <l-button [label]="'New'" [icon]="'fa-file-o'" (onClick)="onLButtonClicked1()"></l-button>
    <l-button [inverted]="true" [icon]="'fa-edit'" [label]="'Edit'" (onClick)="onLButtonClicked2()" style="position: relative;left: 20%"></l-button>
</div>
<div style="margin-left:5px">
    <l-button [label]="'Duplicate'" [icon]="'fa-file-o'" (onClick)="onLButtonClicked1()"></l-button>
    <l-button [label]="'Delete'" [icon]="'fa-edit'" [inverted]="true" (onClick)="onLButtonClicked2()" style="position: relative;left: 20%"></l-button>
</div>