<div class="container">
    <div class="ui-g">
        <div class="ui-g-12 ui-md-10">
            <div class="ui-widget ui-widget-content">
                <div class="ui-g">
                    <div class="ui-g-1">Name:</div>
                    <div class="ui-g-3">{{selectedArticle ? selectedArticle.name : ""}}</div>
                    <div class="ui-g-1">Provider:</div>
                    <div class="ui-g-2">{{selectedArticle ? selectedArticle.provider : ""}}</div>
                </div>
                <div class="ui-g">
                    <div class="ui-g-1">PZN:</div>
                    <div class="ui-g-3">{{selectedArticle ? selectedArticle.pzn : ""}}</div>
                    <div class="ui-g-1">Packaging:</div>
                    <div class="ui-g-2">{{selectedArticle ? selectedArticle.packaging : ""}}</div>
                </div>
            </div>
            <article-table 
                #tab
                [articles]="sliceAndCount.articles"
                [totalRecords]="sliceAndCount.count"
                (onLazyLoadArticles)="lazyLoadArticles($event)"
                (onRowSelectEmitter)="setSelectedArticle($event)">
            </article-table>
        </div>
        <div class="ui-g-12 ui-md-2">
            Menu
        </div>
    </div>
    <div class="ui-widget ui-widget-header" style="padding: 10px 10px">
        <form (ngSubmit)="onClickSearch()">
            <label for="searchField">Search:  </label>
            <input type="text" pInputText id="searchField" [(ngModel)]="searchTextModel"/>
            <button pButton type="submit" label="Search"></button>
        </form>
    </div>
</div>